certifi==2026.2.25
charset-normalizer==3.4.7
colorama==0.4.6
contourpy @ file:///C:/miniconda3/conda-bld/contourpy_1763643940930/work
cupy @ file:///D:/bld/cupy-split_1742849818475/work
cycler @ file:///C:/Users/task_176606795187315/croot/cycler_1766068055927/work
decorator==5.2.1
fastrlock @ file:///D:/bld/bld/rattler-build_fastrlock_1756729198/work
filelock==3.25.2
fonttools @ file:///C:/Users/task_177425651858234/croot/fonttools_1774256593156/work
fsspec==2026.2.0
idna==3.11
imbalanced-learn==0.14.1
Jinja2==3.1.6
joblib==1.5.3
kiwisolver @ file:///C:/miniconda3/conda-bld/kiwisolver_1764159382796/work
lazy-loader==0.5
MarkupSafe==3.0.3
matplotlib==3.10.8
mne==1.12.0
mpmath==1.3.0
networkx==3.6.1
numpy @ file:///D:/bld/numpy_1707225528937/work/dist/numpy-1.26.4-cp311-cp311-win_amd64.whl#sha256=537f0573fefb1e93b3633e8a79102e6b6d2911e09e0a90008993efef4242448e
packaging==26.0
pandas @ file:///D:/bld/bld/rattler-build_pandas_1774916643/work
pillow @ file:///D:/bld/bld/rattler-build_pillow_1770794018/work
platformdirs==4.9.6
pooch==1.9.0
pyparsing @ file:///C:/miniconda3/conda-bld/pyparsing_1763973807786/work
PyQt5==5.15.11
PyQt5_sip @ file:///C:/miniconda3/conda-bld/pyqt-split_1764009083708/work/pyqt_sip
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
requests==2.33.1
scikit-learn==1.8.0
scipy @ file:///C:/bld/scipy-split_1771879216239/work/dist/scipy-1.17.1-cp311-cp311-win_amd64.whl#sha256=058050e81ee500962186d6d4638e7c43e114103164f21e4456e3182aa87b600b
seaborn==0.13.2
sip @ file:///C:/b/abs_f6ow8vlbb7/croot/sip_1756224172742/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sklearn-compat==0.1.5
sympy==1.13.1
threadpoolctl==3.6.0
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tornado @ file:///C:/Users/task_177430354887534/croot/tornado_1774303656328/work
tqdm==4.67.3
typing_extensions==4.15.0
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1775223419300/work
urllib3==2.6.3
